@model List<Cutomer.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Create A Customer","Create", null,new { @class="btn btn-primary" })

<table class="table" >
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Date of Birth</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model){
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Dob</td>
            </tr>
        }
    </tbody>
</table>

